.in-progress.card-header {
    background: lightyellow;
}

.interview-scheduled.card-header {
    background: #CBC3E3;
}


.applied.card-header{
    background: lightblue;

}

.delete-btn.btn-link {
  background: transparent;
  border:0;
  color: red;
}
.delete-btn.btn-link:hover, .delete-btn.btn-link:active, .delete-btn.btn-link:focus .delete-btn.btn-link:active:focus, .btn-primary:focus {
  background: transparent !important;
  color: gray;
  box-shadow: none !important;
}


/*Animations*/

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }